html {
  background-color: rgba(255, 255, 255, 0.637);
  background-blend-mode: lighten;
  background-image: url("https://media.istockphoto.com/id/1197978961/vector/seamless-pattern-with-pink-pet-pawprints-and-hearts.jpg?s=612x612&w=0&k=20&c=oAFo9KLX9uAQtptrXKWbfaGXFR5Jl7NyFshRlYwjA0s=");
  background-size: 20%;
}

body {
    margin: 0;
}

.topnav {
  background-color: #FFBFCC;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #AF8B87;
  text-align: center;
  padding: 14px 92px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F1DCCD;
  color: #AF8B87;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #AF8B87;
  color: #F1DCCD;
}

.main {
margin-top: 50px;
}